@model MVCAppointment.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doc.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doc.DoctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pt.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pt.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spec.Specname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spec.Specname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
