@model IEnumerable<MVCAppointment.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@TempData["msg"]
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.doc.DoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pt.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spec.Specname)
        </th>
        <th>
        <th>
            @Html.DisplayNameFor(model => model.sTime)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.eTime)

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.doc.DoctorName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pt.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.spec.Specname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.sTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.eTime)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
